
@import 'dialogs'; 

.window-app .window-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #eee;
}

.react-target {
    flex: 1;
    height: 100%;
    overflow-y: auto;
}